html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(187, 187, 243);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    flex-direction: column;
}

header {
    display: flex;
    width:100%;
    margin-bottom: 50px;
    justify-content: space-between;

    h1 {
        color: rgb(18, 17, 17);
        margin-left: 20px;
    }
    
    img{
        fill: white;
        margin-right: 20px;
    }

}




.container {
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 100%;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
 
}

.botao {
    background-color: rgb(156, 214, 196);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    
}

.barra {
    display: none;
    width:300px;
    height:30px;
    background-color:rgb(162, 182, 199);
    margin-bottom: 10px;
    
}

ul{
    padding:0;
    margin:0;
}

li {
    background-color: rgb(248, 221, 221);
    padding:10px;
    border-radius: 10px;
    list-style-type: none;
    margin-bottom: 5px;
    cursor: pointer;
}

.input{
    padding: 10px;
    border: none;
    background-color: aliceblue;
}
